@font-face {
    font-family: "Open Sans";
    src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../font/OpenSans-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Open Sans";
    src: url(../font/OpenSans-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Open Sans";
    src: url(../font/OpenSans-Bold.ttf);
    font-weight: bold;
}


/* Resets padding and margin for all elements */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1em;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 10px 0;
}

section,
div {
    display: flex;
}

address {
    font-style: normal;
}

div {
    display: flex;
}

html {
    background-color: #000000;
}

a {
    color: #66bd63;
}

h1 {
    font-size: 2.5em;
    font-weight: lighter;
    color: white;
}

h2 {
    font-size: 2em;
    font-weight: lighter;
    margin-top: 20px;
    color: white;
}

h3,
.readings {
    font-size: 4em;
    font-weight: bold;
    color: white;
    margin-top: 0px;
}

p,
label {
    font-size: 1.5em;
    margin-top: 10px;
    color: white;
}

hr {
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
}

ul {
    list-style-position: outside;
    padding: 0.5em 0 0 3em;
}

li {
    padding-bottom: 10px;
}

footer {
    background-color: #4D4D4D;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.footer_button {
    color: #66bd63;
    background: none;
    border: none;
    font-size: 1.5em;
    margin: 5px 0;
}

.footer_button:hover {
    color: #629c44;
    transition: 0.05s ease-in;
}

.footer_button:active {
    color: #ffffff;
    transition: 0.05s ease-in;
}

.subtitle {
    color: #66bd63;
    font-size: 1em;
    font-style: italic;
    font-weight: lighter;
}

.options_p {
    display: inline;
}

.options_h1 {
    display: block;
}

.datepicker {
    margin-top: 10px;
    padding: 5px 5px;
    width: 50%;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1em;
    background-color: #444444;
    color: white;
    border: none;
}

.input {
    display: inline;
    margin-left: 0;
    float: right;
    margin-right: 10%;
    padding: 5px 5px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1em;
    background-color: #444444;
    color: white;
    border: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.subbutton {
    padding: 5px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1em;
    background-color: #4F7C36;
    color: white;
    border: none;
}


/* let flexible objects wrap, otherwise they'll print in columns */

.default_wrapper {
    margin: 20px;
    flex-wrap: wrap;
}

.footer_wrapper {
    background-color: #251d5a;
}


/* adding a bit of margin to the footer p so that it wouldn't be too thin */

.footer_wrapper p {
    margin: 20px 0 0 20px;
}


/* Flex Box Styling */

.flex_box_default {
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    background-color: #38383b;
    border-radius: 25px;
}

.flex_box_one_third {
    flex: 33%;
    flex-direction: column;
    margin: 30px 20px 0 20px;
}

.flex_box_two_third {
    flex: 66%;
    flex-direction: column;
    margin: 20px 20px 0 20px;
}

.flex_box_one_third_text {
    flex: 33%;
    flex-direction: column;
    margin: 20px 20px 0 20px;
}

.flex_box_one_third_options {
    flex: 33%;
    flex-direction: column;
    margin: 30px 20px 0 20px;
}

.flex_box_two_third_options {
    flex: 66%;
    flex-direction: column;
    margin: 20px 20px 0 20px;
}

.flex_box_full {
    flex: 100%;
    flex-direction: column;
    margin: 20px 20px 0 20px;
}

@media screen and (min-width: 800px) {
    .flex_box_default {
        flex-direction: row;
        background-color: #38383b;
    }
}

nav ul {
    background-color: #38383b;
    padding: 0;
    overflow: hidden
}

nav li {
    list-style-type: none;
    padding: 0;
}

nav a {
    float: left;
    color: white;
    padding: 1.1em 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

nav a:hover {
    background-color: #629c44;
    transition: 0.15s ease-in;
}

nav a:active {
    background-color: #66bd63;
    transition: 0.05s ease-in;
}

#mobile_nav_container {
    background-color: #444444;
    display: block;
    height: 3.95em;
    width: 100%;
    position: fixed;
    top: 0;
}

#desktop_nav_container {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
}

li #current_page {
    text-decoration: underline;
}

@media screen and (min-width: 800px) {
    #mobile_nav_container {
        display: none;
    }
    #hamburger_menu {
        display: none;
    }
    li a {
        display: inline;
        width: auto;
        padding: 1.1em;
    }
    #desktop_nav_container {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .input {
        display: block;
        float: none;
    }
    .options_p {
        display: block;
    }
}

.viz_selection {
    display: block;
}

@media screen and (min-width: 800px) {
    th,
    td {
        padding: 20px;
    }
    th {
        font-size: 1.5em;
    }
    td {
        font-size: 1.3em
    }
}